Checks: "readability-identifier-naming"
HeaderFileExtensions: ["h"]
ImplementationFileExtensions: ["c"]
ExcludeHeaderFilterRegex: "./lib/epos2/definitions.h"
CheckOptions:
  readability-identifier-naming.FunctionPrefix: vscl_
